In [292]:
from sklearn.datasets import load_iris
import numpy as np
import random
import pandas as pd
import math

In [293]:
iris=load_iris()
label=iris.target.astype('str')
label=np.char.replace(label,'0','Setosa')
label=np.char.replace(label,'1','Versicolor')
label=np.char.replace(label,'2','Virginica')
label=pd.DataFrame(label,columns=["Species"])

In [294]:
df=iris.data[0:100,]
data=pd.DataFrame(df,columns=iris.feature_names)
iris_data=pd.concat([data,label.iloc[0:100,]],axis=1)
iris_data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
0,5.1,3.5,1.4,0.2,Setosa
1,4.9,3.0,1.4,0.2,Setosa
2,4.7,3.2,1.3,0.2,Setosa
3,4.6,3.1,1.5,0.2,Setosa
4,5.0,3.6,1.4,0.2,Setosa

In [295]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [296]:
index=random.sample(range(iris_data.shape[0]),iris_data.shape[0])
shuffle_data=iris_data.iloc[index]
shuffle_data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
81,5.5,2.4,3.7,1.0,Versicolor
18,5.7,3.8,1.7,0.3,Setosa
13,4.3,3.0,1.1,0.1,Setosa
53,5.5,2.3,4.0,1.3,Versicolor
7,5.0,3.4,1.5,0.2,Setosa

In [297]:
train=shuffle_data.iloc[0:math.floor(shuffle_data.shape[0]*0.8),]
indx = train.index.values.tolist()
print(indx)

[81, 18, 13, 53, 7, 87, 37, 49, 42, 8, 96, 39, 97, 35, 66, 61, 26, 10, 62, 91, 89, 56, 69, 44, 43, 31, 77, 20, 98, 16, 6, 72, 74, 38, 83, 50, 3, 17, 94, 32, 14, 68, 84, 85, 82, 30, 9, 88, 47, 95, 67, 92, 29, 73, 21, 28, 57, 52, 23, 15, 33, 79, 70, 1, 58, 65, 80, 48, 19, 71, 11, 55, 90, 25, 22, 36, 0, 46, 2, 86]

In [298]:
test = shuffle_data.drop(indx)
test.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
93,5.0,2.3,3.3,1.0,Versicolor
12,4.8,3.0,1.4,0.1,Setosa
60,5.0,2.0,3.5,1.0,Versicolor
5,5.4,3.9,1.7,0.4,Setosa
41,4.5,2.3,1.3,0.3,Setosa

In [299]:
prediction=[]
k=13
for i in range(0,test.shape[0]):
    ab=np.array([test.iloc[i][0:4],]*train.shape[0])
    d=np.sqrt(np.sum((np.array(train.iloc[:,0:4])-ab)**2,axis=1).tolist())
    idx=np.argsort(d)[0:k,]
    K=pd.value_counts(train.iloc[idx].Species)
    prediction.append(K.index[0])

In [300]:
print(prediction)

['Versicolor', 'Setosa', 'Versicolor', 'Setosa', 'Setosa', 'Setosa', 'Versicolor', 'Versicolor', 'Versicolor', 'Setosa', 'Versicolor', 'Versicolor', 'Versicolor', 'Setosa', 'Setosa', 'Versicolor', 'Setosa', 'Versicolor', 'Versicolor', 'Setosa']

In [304]:
test.Species.tolist()

['Versicolor',
 'Setosa',
 'Versicolor',
 'Setosa',
 'Setosa',
 'Setosa',
 'Versicolor',
 'Versicolor',
 'Versicolor',
 'Setosa',
 'Versicolor',
 'Versicolor',
 'Versicolor',
 'Setosa',
 'Setosa',
 'Versicolor',
 'Setosa',
 'Versicolor',
 'Versicolor',
 'Setosa']

In [302]:
accuracy=(sum(test.Species==prediction)/test.shape[0])*100
print('Accuracy = ',accuracy,'%')

Accuracy =  100.0 %